.footer {
  background-color: $dark-bg-color;
  padding: 60px 0;

  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    @include flexGap(93px);
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: $white-color;
  margin-bottom: 20px;
  text-transform: uppercase;
}
