.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-bg-color;
  text-align: center;

  margin: 0 auto;
  padding: 118px 0;
  max-width: 480px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-480@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-768.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-768@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    min-height: 600px;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-1200.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-1200@2x.jpg');
    }
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    width: 700px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  @extend %mainBtn;
  display: inline-block;

  height: 50px;
  width: 216px;

  font-family: inherit;
  letter-spacing: 0.06em;
  line-height: 1.87;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
  }
}
