@mixin flexGap($type: 30px) {
  display: flex;
  gap: $type;
}

@mixin centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title() {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: $black-color;
  margin-bottom: 50px;
}
