$card-set-gap: 30px;
$border-header: #ececec;

$customer-color: #afb1b8;
$brand-color: #2196f3;
$white-color: #ffffff;
$dark-color: #212121;
$main-color: #757575;
$black-color: #000000;
$dark-bg-color: #2f303a;
$grey-bg-color: #f5f4fa;
$hover-bg-color: #188ce8;
$border-color: #eeeeee;